{% extends 'stewarts/base.html'%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <h1 class="text-center">Pest Control!</h1>
        <h4 class="text-center">Pest control is where this company was founded, then later moved most of its <br>
            business over to lawns. Pest control has also a garentuee just like the lawn service. <br>
            We come out four times a year to spray the outside of the home to form a barrier around <br>
            the house to keep insects like spiders, wasps and ants from entering the home. This also keeps <br>
            the pest outside down to a miminum level. the service also covers specific requests by <br>
            the customer to spray certain areas like inside the home, barns, sheds, etc... The service <br>
            also covers rodents, using different types of baits to trap or poison them. There are different <br>
            parts of the service that are specialized to different types of pest like roaches or bed bugs.<br>

<img src="https://cdn.imgbin.com/19/21/21/imgbin-pest-control-termite-exterminator-industry-pest-management-xkUNbaZEwz9tEhQWhMbGc9Qzt.jpg" class="rounded float-left" alt="..."><br>
<br>
 <a class="btn btn-success" href="/pestdetail/" role="button">Pest Chemicals</a><br><br>
 <a class="btn btn-success" href="/inputpest/" role="button">Calculate Rates</a><br>
</h4>
{% endblock %}
</body>
</html>