{% extends 'stewarts/base.html'%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <h1 class="text-center">Tree Service!</h1>
        <h4 class="text-center">The Tree service at Stewart's is a specialist service that involves arborist work.<br>
            From Spraying trees and shrubs for insects or injecting them for fertilizer. Depending on what the tree <br>
            needs is what kind of service they need. For example, sometimes furs and pines get something like scale <br>
            or bark beetle. Those need to be sprayed to prevent the damage from those two insects from happening.<br>
            Or you could have aphid issue, we would spray the leafs and the foliage for that to kill those insects<br>
            before they cause damage to the tree or shrub. With injection's we drill holes in the tree and shoot <br>
            chemical into the IV system of the tree. It's usually an insecticide or Iron(fertilizer). We also do <br>
            General Tree and Shrub fertilizer that keep everything from flowers to trees to be healthy. A granual <br>
            is applied in the flowerbeds, then if there is any tree outside of those they are injected at the root<br>
            ball of the tree. <br>

<img src="https://www.romi.gov/ImageRepository/Document?documentID=25821" class="rounded float-left" alt="..."><br>
<br>
 <a class="btn btn-success" href="/treedetail/" role="button">Tree Chemicals</a><br><br>
 <a class="btn btn-success" href="/inputtree/" role="button">Tree Calculator</a><br>

</h4>
{% endblock %}
</body>
</html>